<div class="adminContainer">

    <span class='new-user-link'>
        <%= link_to 'Create new user', new_user_registration_path %> 
    </span>

    <span class='new-car-link'>
        <%= link_to 'Create new car', new_car_path %> 
    </span>

</div>