<nav class='navbar'> 
    <%= link_to :root do%>
        <span class='backButton'>
            <i class="fas fa-caret-left fa-2x"></i> 
        </span>
    <% end %>
    CALENDAR
</nav>


<div class='calendar'></div> 