<%= render partial: 'layouts/navbar', locals: {title: "PRIORITY TO-DO LIST"} %>


<%= form_for "", url: todo_path, method: :get do |f| %>
	<div id="filter-header"> ZONE </div>
	<div class="filter-style">
	<%= f.select :filter, ['All','Coconut Grove', 'Coral Gables', 'Hallandale Beach', 'Key Biscayne', 'Mainland', 'Miami Lakes', 'South Beach', 'Other'], {
		:include_blank => true, id: "filter" } , { onchange: 'this.form.submit();', prompt: 'Select Person' } %>
	</div>
<% end %>



<%= render 'pages/todo' %>



