<%= render partial: 'layouts/navbar', locals: {title: "CARS"} %>


<h2 class="header">ALL CARS</h2>

<div class='carContainer'>
        <% @cars.each do |car| %>          
            <%= link_to car_path(:id => car.id) do %>
                <div class='carLink'> 
                    <p class="alignleft"> <%= car.name %> </p>
                    <p class="alignright"> <%= car.generation %> </p>
                </div>
            <% end %>
        <% end %>
</div>
