<%= render partial: 'layouts/navbar', locals: {title: "ADD ISSUE"} %>

<h2 class="header">CHOOSE CAR</h2>


<div class='carContainer'>
        <% @cars.each do |car| %>          
            <%= link_to new_ticket_path(:car_id => car.id) do %>
                <div class='carLink'> 
                    <p class="alignleft"> <%= car.name %> </p>
                    <p class="alignright"> <%= car.generation %> </p>
                </div>
            <% end %>
        <% end %>
</div>

