<%= render partial: 'layouts/navbar', locals: {title: @car.name} %>

<h2 class="header"> OPEN ISSUES </h2>


<div class='carContainer'>
        <% @car.tickets.each do |ticket| %>
            <%= link_to ticket_path(:id => ticket.id) do %>
                <div class='carLink'>
                    <p class="alignleft"> <%= ticket.category %> </p>
                    <p class="alignright"> 
                        <% if ticket.completed == true %>
                            COMPLETED
                            <% else %>
                            NOT COMPLETED
                        <% end %>
                    </p>
                </div>
            <% end %>
        <% end %>
</div>
