<nav class='navbar'> 
    <%= link_to :back do%>
        <span class='backButton'>
            <i class="fas fa-caret-left fa-2x"></i> 
        </span>
    <% end %>
    <%= @car.name %>
   <%= link_to(destroy_user_session_path, controller: 'sessions', method: :delete) do %>
       <span class='navSignout'>
           <i class="fas fa-sign-out-alt fa-2x"></i>
       </span>
   <% end %> 
</nav>

<h2 class="header"> OPEN ISSUES </h2>

 
<div class='carContainer'>
 <% if @car.tickets.present? %>
     <h3> OPEN ISSUES </h3>
        <%if @car.tickets.one? %>
        ONE TICKET
        <% else @car.tickets.each do |ticket|%>
            ticket
        <% end %>
        <% end %>
        <% else %>
        <h3> NO ISSUES </h3>

<% end %>

</div>
