<nav class='navbar'> 
    <%= link_to :root  do%>
        <span class='backButton'>
            <i class="fas fa-home fa-2x"></i>
        </span>
    <% end %>
    <%= title %>
   <%= link_to(destroy_user_session_path, controller: 'sessions', method: :delete) do %>
       <span class='navSignout'>
           <i class="fas fa-sign-out-alt fa-2x"></i>
       </span>
   <% end %> 
</nav>
